h1{
    color: lightseagreen;
}
.wrapper{
    width: 120px;
    height:120px;
    border-radius: 50%;
    border: 8px solid lightblue;
    margin: auto;
}
.circle{
    width: 80px;
    height: 80px;
    border:20px solid;
    border-radius: 50%;
    border-color: lightseagreen transparent transparent;
    animation: circle 2s linear infinite;
}
@keyframes circle {
    100%{transform: rotate(360deg);
    filter: hue-rotate(360deg);
    }
}