html {
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    color: #666666;
    text-align: center;
  }
  
  #box{
        color: lightblue;
        border: 1px solid lightblue;
        height:10px;
        width:50px;
        display: none;
        
        
  }
  #box.click{
      visibility: visible;
  }