html {
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    color: seagreen;
    text-align: center;
  }
  
  .box{
        color: teal;
        border: 1px solid lightblue;
        height:300px;
        width:300px;
        align-content: center;
        display:none;
        display: block;
        margin-left:auto;
        margin-right:auto;
    
  }
  