h1{
    color:teal;
}
.circle{
    width:100px;
    height:100px;
    border:2px solid black;
    border-radius: 50%;
    background-color: turquoise;
    transition: ease-in;
    transition-duration: 5s;
    transition-timing-function: ease;
}
.circle:hover{
    height:300px;
    width:300px;
    border-radius: 0%;
}
