body{
    background-color: rgb(144, 185, 185);
}
h1{ 
    color: peachpuff;
}
.container{
    border: 3px solid plum;
    margin: 20px;
    height: 600px;
    width:400px;
    border-radius:20px;
    background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm200-nunoon-33.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c514220335189fff35de341df135fc27);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.box {
    width: 70px;
    height: 80px;
    border: 2px solid powderblue;
    margin: 12px;
    border-radius: 10px;
}
#box1 {
    background-color: rgb(73, 102, 233);
}
#box2 {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-0/p480x480/84589780_2539484256161155_3148231703940562944_o.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=6OL2SYQ70YgAX__IFGc&_nc_ht=scontent-ort2-2.xx&tp=6&oh=e0f28268b3052cc248bd8a0f0a12180f&oe=5FA16360);
    background-size: cover;
}
#box3 {
    background-color: rgb(255, 0, 255);
}
#box4 {
    background-color: rgb(110, 3, 143);
}
#box5 {
    background-color: rgb(40, 117, 136);
}
#box6 {
    background-color: rgb(0, 247, 255);
}
#box7 {
    background-color: rgb(140, 0, 255);
}
#box8 {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-0/p480x480/84098384_2539484289494485_5824420594807996416_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=hoi0X9a6EwIAX8EFvbO&_nc_ht=scontent-ort2-2.xx&tp=6&oh=047b00c52acaf478c4b7273b3a84cf85&oe=5FA0CBBA);
    background-size: cover;
}
#box9 {
    background-color: rgb(218, 157, 96);
}
#box10 {
    background-color: rgb(0, 255, 170);
}
#box11 {
    background-color: rgb(206, 120, 199);
}
#box12 {
    background-color: rgb(241, 214, 156);
}
#box13 {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-0/p480x480/83882267_2539484329494481_6116955421543497728_o.jpg?_nc_cat=109&_nc_sid=730e14&_nc_ohc=6eEr339syxYAX-yRHhs&_nc_ht=scontent-ort2-2.xx&tp=6&oh=ea0de1ee041502a60d7b4edbffbd3cfc&oe=5FA0A52D);
    background-size: cover;
}
#box14 {
    background-color: rgb(0, 255, 213);
}
#box15 {
    background-color: rgb(137, 177, 230) ;
}
#box16 {
    background-color:palevioletred;

}
#box17 {
    background-color: cadetblue

}
#box18 {
    background-color: rgb(238, 172, 170);

}
#box19 {
    background-image:url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-0/p480x480/83517079_2539484389494475_5932090983922532352_o.jpg?_nc_cat=103&_nc_sid=730e14&_nc_ohc=FhBEacdfCCAAX-FCRXe&_nc_ht=scontent-ort2-2.xx&tp=6&oh=648905754056bd0d01f0ff7a62f68056&oe=5FA33439);
    background-size: cover;

}
#box20 {
    background-color: rgb(252, 138, 242);

}
