h1{ 
    color: peachpuff;
}
.container{
    border: 3px solid plum;
    margin: 20px;
    height: 600px;
    width:400px;
    border-radius:20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.box {
    width: 70px;
    height: 80px;
    border: 2px solid powderblue;
    margin: 12px;
    border-radius: 10px;
}
#box1 {
    background-color: blue;
}
#box2 {
    background-color: blue;
}
#box3 {
    background-color: blue;
}
#box4 {
    background-color: blue;
}
#box5 {
    background-color: blue;
}
#box6 {
    background-color: blue;
}
#box7 {
    background-color: blue;
}
#box8 {
    background-color: blue;
}
#box9 {
    background-color: blue;
}
#box10 {
    background-color: blue;
}
#box11 {
    background-color: blue;
}
#box12 {
    background-color: blue;
}
#box13 {
    background-color: blue;
}
#box14 {
    background-color: blue;
}
#box16 {

}
#box17 {

}
#box18 {

}
#box19 {

}
#box20 {

}
